<body>
<div style="font-size: 24px; text-align: center"><b>JavaScript Calculators</b></div>
<div style="text-align: center"><button><b><a href="/quad">Quadratic Formula Calculator</a></b></button>
  <button><b><a href="/pythagorean">Pythagorean Theorem Calculator</a></b></button>
  <button><b><a href="/factorial">Factorial Calculator</a></b></button></div>
</body>