<input id="a_value" placeholder="A Value">
<input id="b_value" placeholder="B Value">
<input id="c_value" placeholder="C Value">
<button id="quad">Solve quadratic equation</button>
<div id="output"></div>